# Test data
data/*
!data/journals/
data/journals/*
!data/journals/.gitkeep

# Build outputs
build/bin
frontend/dist
frontend/node_modules
result

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
